services:
  app:
    image: verycoolgary/shop.api
    container_name: shop-api
    build: .
    ports:
      - '8000:8000'
    environment:
      - GO_ENV=${GO_ENV}
      - APP_PORT=${APP_PORT}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - GCS_BUCKET_NAME=${GCS_BUCKET_NAME}
      - TOKEN_SECRET=${TOKEN_SECRET}
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:17.7
    container_name: shop-db
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
